// Import Reset stylesheet
@import "reset";

// Import base stylesheets for all scenes
@import "scenes/Home/base";
@import "scenes/About/base";


html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  z-index: 0;
}

.wrapper {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main . side-panel"
    "footer footer footer";  
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
